extends: default

ignore: |
  .venv/
  .kitchen/
  molecule/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  # NOTE(retr0h): Templates no longer fail this lint rule.
  #               Uncomment if running old Molecule templates.
  # truthy: disable
  key-duplicates: enable
  new-line-at-end-of-file: enable
  new-lines: {type: unix}
  truthy: disable
